:root {
  /* CSS HEX */
  --mint-cream: #f1f7edff;
  --imperial-red: #e63946ff;
  --denim: #2e5eaaff;
  --honey-yellow: #f6ae2dff;
  --smoky-black: #14110fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 40px;
}

.navbar a {
  color: var(--mint-cream);
  text-decoration: none;
}

.nav-link {
  list-style: none;
  margin: 5rem 0;
  text-align: center;
  width: 100%;
}

/* Navbar */
.navbar {
  background-color: var(--smoky-black);
  position: fixed;
  width: 100%;
  color: var(--mint-cream);
}

.flex-nav {
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
}

.logo span {
  color: var(--honey-yellow);
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  border: transparent;
  background-color: transparent;
  color: var(--mint-cream);
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-toggle .close,
.nav-toggle .hide {
  display: none;
}

.nav-toggle .show {
  display: flex;
  font-size: 1.7rem;
}

.nav-links {
  height: 0;
  overflow: hidden;
  /* width: 100%; */
}

.nav-open {
  height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background: linear-gradient(to right, rgba(#333, 0.6), rgba(#333, 0.3)),
    no-repeat right top;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  height: 100vh;
  width: 100%;
  text-align: center;
}

.hero__main-text {
  font-size: 1.7rem;
}

.hero__sub-text {
  padding: 2rem 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero__cta {
  text-decoration: none;
  color: #000;
  border: 2px solid #000;
  padding: 1rem;
}

.flex-food {
  display: flex;
  order: 1;
}

.food-section {
  text-align: center;
  background-color: var(--honey-yellow);
}

.food-section h2 {
  padding: 5rem 1rem 2rem;
}

.food-grid {
  display: grid;
  padding: 1rem 1rem 5rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  gap: 3rem;
  place-items: center;
}

.card {
  width: 90%;
  background-color: var(--mint-cream);
  color: var(--smoky-black);
  text-decoration: none;
}

.card h3 {
  padding: 1rem 0;
}

.card p {
  text-align: justify;
}

.card-subcontainer {
  /* width: 80%; */
  padding: 2rem;
}

.img-container,
.img-container-about,
.img-container-404,
.img-container__sr {
  margin: 0;
}

.img-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.img-container-about img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.img-container-404 img {
  width: 13rem;
  object-fit: cover;
}

.tags-section {
  background-color: var(--denim);
}

.tags-section h3 {
  text-align: center;
  padding: 3rem 0;
  color: var(--mint-cream);
  letter-spacing: 0.2rem;
}

.tags-section a {
  text-decoration: none;
  color: var(--mint-cream);
}

.tags {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 2rem;
  /* text-align: center; */
  /* background-color: rebeccapurple; */
  margin: 0 auto;
  /* justify-content: space-between; */
  align-items: center;
  padding-bottom: 3rem;
}

.footer {
  background-color: var(--smoky-black);
  color: var(--mint-cream);
  padding: 3rem;
}

.footer p {
  text-align: center;
}

.main-about {
  display: flex;
  flex-direction: column;
  padding: 9rem 0;
  margin: 0 3rem;
  text-align: center;
}

.main-article h2 {
  margin-bottom: 3rem;
}

.main-article__fp {
  margin-bottom: 1rem;
  text-align: justify;
}

.main-article__sp {
  margin-bottom: 3rem;
  text-align: justify;
}

.main-content__tags {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 6rem 0;
  height: 100vh;
  /* background-color: blue; */
}

.mini-card {
  background-color: var(--denim);
  color: var(--mint-cream);
  width: 60%;
  padding: 2rem;
  border-radius: 8px;
  text-decoration: none;
}

.mini-card h3 {
  padding-bottom: 0.5rem;
}

.main-404-section {
  text-align: center;
  padding: 9rem 0;
  height: 100vh;
}

.main-404-section p {
  font-size: 1.3rem;
  margin-top: 2rem;
}

.main-contact {
  /* width: 80%; */
  margin: 0 auto;
  text-align: justify;
  background-color: var(--denim);
  padding: 6rem 2rem;
}

.main-contact article {
  padding-bottom: 3rem;
  color: var(--mint-cream);
}

.main-contact article h2 {
  text-align: center;
}

.main-contact article p {
  padding-top: 1rem;
}

form {
  width: 90%;
  background-color: var(--mint-cream);
  border-radius: 8px;
  margin: 0 auto;
  padding: 2rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 0.5rem 0 0.5rem;
  margin-top: 0.3rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--mint-cream);
  border-bottom: 2px solid var(--smoky-black);
}

textarea {
  resize: none;
  height: 5rem;
}

.submit {
  width: 100%;
  padding: 0.7rem;
  cursor: pointer;
  margin: 1rem 0 0;
  border-radius: 5px;
  background-color: var(--smoky-black);
  border: none;
  color: var(--mint-cream);
}

.main__single-recipe {
  /* height: 100vh; */
  padding: 6rem 0;
  text-align: center;
}

.img-container__sr img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  /* padding-top: 6rem; */
}

.main__single-recipe h2 {
  padding: 1rem 0;
}

.main__single-recipe p {
  text-align: justify;
  padding: 0 10%;
}

.single-recipe__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
  align-items: center;
}

.single-recipe__info div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 5rem;
}

.single-recipe__info div i {
  font-size: 1.5rem;
  color: var(--imperial-red);
}

.mini-tags__section {
  padding: 2rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  width: 80%;
}

.mini-tags__section span {
  font-weight: bold;
}

.mini-tags__section a {
  text-decoration: none;
  color: mintcream;
  background-color: var(--imperial-red);
  padding: 0.5rem;
  border-radius: 6px;
}

.heading-pt {
  padding-top: 3rem;
}

/* For tablets */
@media only screen and (min-width: 768px) {
  .food-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 1rem 3rem 6rem;
  }

  .img-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .tags {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }

  .main-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: rebeccapurple; */
  }

  .main-article {
    width: 50%;
  }

  .img-container-about img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  .main-content__tags {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    margin: 0 auto;
    gap: 3rem;
    width: 90%;
  }

  .main-contact {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding-top: 9rem;
    /* justify-content: space-between; */
    align-items: center;
  }

  .main-contact article {
    width: 50%;
  }
  .main-contact form {
    width: 50%;
  }

  /* .main__single-recipe {
    height: 100vh;
  } */

  .mini-tags__section,
  .single-recipe__info {
    display: flex;
    flex-direction: row;
  }

  .main-contact {
    padding: 9rem 3rem 6rem;
  }

  .img-container-404 img {
    width: 30rem;
    object-fit: cover;
  }

  .main-404-section p {
    font-size: 1.9rem;
  }
}

/* For laptops */
@media only screen and (min-width: 1024px) {
  .nav-toggle {
    display: none;
  }

  .nav-header {
    display: block;
  }

  .flex-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

  .nav-links {
    height: auto;
  }

  ul {
    text-align: center;
  }

  .nav-link {
    display: inline-block;
    width: 8rem;
    margin: 2rem 0;
  }

  .nav-links span {
    background-color: var(--denim);
    padding: 8px 16px;
    border-radius: 8px;
  }

  /* .food-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  } */

  .main-about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .main-article {
    width: 50%;
  }

  .main-content__tags {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 3rem;
    /* width: 90%; */
  }

  .mini-card {
    width: 30%;
  }

  .main-contact {
    display: flex;
    gap: 6rem;
    align-items: center;
    justify-content: space-around;
    padding: 9rem 5rem;
  }

  .main-contact article {
    width: 50%;
  }

  form {
    width: 40%;
  }

  .main__sr-section {
    padding: 6rem 0 3rem;
    margin: 0 auto;
    /* justify-content: space-between; */
    width: 70%;
  }

  /* .food-section-tt {
    height: 100vh;
  } */
}

/* Todo: Missing these media queries */
/* For 1440p screens */
@media only screen and (min-width: 1440px) {
  /* .food-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  } */

  .card {
    width: 80%;
  }

  .main-content__tags {
    justify-content: space-around;
    margin: 0 6rem;
    /* width: 90%; */
  }
}

/* For 4k screens */
@media only screen and (min-width: 2560px) {
  .main-content__tags {
    margin: 0 9rem;
  }

  .mini-card {
    width: 20%;
  }
}
